  
/transaction-service/transaction-service.web/bin
/transaction-service/transaction-service.web/obj
/transaction-service/.vs/transaction-service/v16/*.suo
/transaction-service/.vs/transaction-service/DesignTimeBuild/*.v2
*.user